.select {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--card-bg);
  color: var(--text);
  border-radius: 4px;
}

.chartjs-legend ul {
  display: flex;
  flex-wrap: wrap; /* 👈 pozwala zawijać wiersze */
  justify-content: center;
}
