.select {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--card-bg);
  color: var(--text);
  border-radius: 4px;
}

.chartjs-legend ul {
  display: flex;
  flex-wrap: wrap; /* 👈 pozwala zawijać wiersze */
  justify-content: center;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 100%;
  overflow-x: auto; /* przewijanie w poziomie */
  font-size: 12px;
}
