/* Desktop */
.logsSidebar {
  position: sticky;
  top: 1rem;
  right: 0;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
  padding: 1rem;
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 8px;
}

.logsSidebar h4 {
  margin-top: 0;
}

/* Mobile - FAB */
.fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--accent);
  color: var(--bg);
  font-size: 1.5rem;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.logsDropdown {
  position: fixed;
  bottom: 80px; /* nad przyciskiem */
  right: 1rem;
  width: 90%;
  max-height: 50vh;
  overflow-y: auto;
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 40;
}

.log {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}

.log small:first-child {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.log .date {
  color: var(--text-50);
}

.log .minus {
  color: var(--quantity-low);
}

.log .plus {
  color: var(--quantity-high);
}

.bold {
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  font-weight: 900;
}

.edit-button {
  background-color: transparent;
  padding: 0;
  padding-top: 0.25rem;
  margin: 0;
  color: var(--quantity-superior);
  width: auto;
  text-align: left;
}

.edit-button:hover {
  cursor: pointer;
  background: transparent;
}
